body{
	background: url('img/mountainsday.jpg') no-repeat center center fixed;
	background-size: cover;

	background-color: #505050;

	margin: 0px;
}

.websiteWrap{
	height: 100vh;
	width: 75%;
		
	margin-right: auto;
	margin-left: auto;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content : center;
	align-items: center;
}

.website{
	text-decoration: none;

	width: 100px;
	height: 120px;
	margin: 15px;

	border-radius: 3%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: box-shadow 0.25s, width 0.75s, height 0.75s;
	
	background-size: 100px 100px;
	background-repeat: no-repeat;

	background-color: #777;

	-webkit-user-select: none;

	display: block;
}

.website:hover{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.website>p{
	margin-top: 100px;
	margin-left: 8px;
	color: #fff;
	position: absolute;
}
input{
	margin-left: 14px;
	padding-left: 3px;
}
.fab{
	display: block;
	width: 56px;
	height: 56px;
	position: absolute;
	right: 30px;
	bottom: 30px;
	transition: all .25s ease-in;
	z-index: 999;

	padding-left: 18px;
	padding-top: 6px;
	font-size: 30px;
	text-decoration: none;

	box-sizing: border-box;

	-webkit-user-select: none;

	background-color: #d23f31;
	color: #ffffff;
	border-radius: 50%;

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.fab:hover{
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}